<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>List Users</title>
	<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
	<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container text-center">
	<div>
		<form th:action="@{/logout}" method="post">
			<p>
				Welcome ${userName}
			</p>
			<input type="submit" value="Sign Out" />
		</form>
	</div>
	<div>
		<h1>Feedback List for ${userName}</h1>
	</div>
	
	<div>
		<table class="table table-striped table-bordered">
			<thead class="thead-dark">
				<tr>
					<th>Feedback Text</th>
					<th>Image</th>
					<th>FeedbackApproved</th>
					<th>FeedbackRemoved</th>
					<th>CreateBy</th>
					<th>CreateTs</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="feedback: ${feedbackList}">
					<td th:text="${feedback.feedbackTxt}">Feedback Text</td>
					<td th:text="${feedback.fileimage}">Image</td>
					<td th:text="${feedback.isFeedbackApproved}">FeedbackApproved</td>
					<td th:text="${feedback.isRemoved}">FeedbackRemoved</td>
					<td th:text="${feedback.userId.name}">CreateBy</td>
					<td th:text="${feedback.creteTs}">CreateTs</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div>
		<a th:href="@{/new_feedback}" >Add new Feedback</a>
	</div>
</div>
</body>
</html>